@font-face {
  font-family: 'Mont';
  src: url('../public/fonts/Mont-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Mont';
  src: url('../public/fonts/Mont-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Mont';
  src: url('../public/fonts/Mont-Regular.ttf');
  font-weight: normal;
}

body {
  margin: 0;
}
